<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>FITZON FITNESS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>



           

            
        </div>
    </div>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><b>FItzon:STRENGTH COMES FROM WITHIN</a></b>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <header>
                        <div class="nav-item">
                            <div class="nav-item nav-link">
                                
                                <a href="{{url_for('home')}}" class="nav-item nav-link">home</a></a>
                               
                            </div>
                        </div>
                   </header>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/videos">videos</a>
                    </li>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/contact us">contact us</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>
     

    
    <header class="masthead text-center text-white" style="background-image: url(static/img/peach.png);">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">FITZON</h1>
                <h2 class="masthead-subheading mb-0">ONLINE FITNESS TRAINING</h2>
                <a href="{{url_for('booking')}}" class="btn btn-primary btn-xl rounded-pill mt-5" >BOOK SESSION</a></a>
               
            </div>
        </div>
    </header>
    
    
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="static/img/back.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-2">TRAININGS.</h2>
                        <h3 class="display-4">STRENGTH</h3>
                        <P1><em>Strength training involves the performance of physical exercises which are designed to improve strength and endurance. It is often associated with the use of weights but can take a variety of different forms. When properly performed, strength training can provide significant functional benefits and improvement in overall health and well-being, including increased bone, muscle, tendon, and ligament strength and toughness, improved joint function, reduced potential for injury, increased bone density, increased metabolism, increased fitness and improved cardiac function.</em></P1>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="static/img/f.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">CARDIO</h2>
                        <p><em>Cardio is defined as any type of exercise that gets your heart rate up and keeps it up for a prolonged period of time. Your respiratory system will start working harder as you begin to breathe faster and more deeply. Your blood vessels will expand to bring more oxygen to your muscles, and your body will release natural painkillers (endorphins).</em></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                    <img class="img-fluid rounded-circle" src="static/img/y.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">YOGA</h2>
                    <p><em>Yoga as exercise is a physical activity consisting mainly of postures, often connected by flowing sequences, sometimes accompanied by breathing exercises, and frequently ending with relaxation lying down or meditation.</em></p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">FITZON 2020@silpa</p>
        </div>
        <!-- /.container -->
    </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
   
</html>